
.game {
    width: 600px;
    height: 360px;
    position: absolute;
    top: 5px;
    left: 5px;
  }
.pj{
    position: absolute;
    background:url(../img/run.png);
    top: -160px;
    left: -200px;
    width: 579px;
    height: 763px;
    z-index: 3;
    transform: scale(0.12,0.12);
    animation: playXrun 0.5s steps(4) infinite, playYrun 1s steps(2) infinite;
}
.fondoback{
  position: absolute;
  top: 0px;
  left: 30px;
  width:592px; 
  height:272px;
  border: solid;
  z-index:0;
  background:url(../img/parallax/back.png);
}
.fondo3{
  position: absolute;
  top: 0px;
  left: 30px;
  width:592px; 
  height:272px;
  border: solid;
  z-index: 1;
  background:url(../img/parallax/3.png);
  animation: fondo 24s linear infinite;

}
.fondo2{
  position: absolute;
  top: 0px;
  left: 30px;
  width:592px; 
  height:272px;
  border: solid;
  z-index: 1;
  background:url(../img/parallax/2.png);
  animation: fondo 20s linear infinite;

}
.fondo1{
  position: absolute;
  top: 0px;
  left: 30px;
  width:592px; 
  height:272px;
  border: solid;
  z-index: 1;
  background:url(../img/parallax/1.png);
  animation: fondo 6s linear infinite;
}
.fondo0{
  position: absolute;
  top: 0px;
  left: 30px;
  width:592px; 
  height:272px;
  border: solid;
  z-index: 1;
  background:url(../img/parallax/0.png);
  animation: fondo 6s linear infinite;
}
  @keyframes playXrun {
    from {background-position-x: 0px;}
    to {background-position-x: -2316px;}
  }
  @keyframes playYrun {
    from {background-position-y: 0px;}
    to {background-position-y: -1526px;}
  }
  @keyframes fondo{
    from {background-position-x: 0px;}
    to {background-position-x: -592px;}
  }