
.game {
    width: 600px;
    height: 360px;
    position: absolute;
    top: 5px;
    left: 5px;
  }
.pj{
    background:url(../img/run.png);
    width: 579px;
    height: 763px;
    z-index: 2;
    transform-origin: top;
    transform: scale(0.15,0.15) translateX(-1600px) translateY(-1000px);;
    animation: playXrun 1s steps(4) infinite, playYrun 2s steps(2) infinite;
}
  canvas {
    top: 0;
    left: 0;
    border: 1px solid black;
    z-index: 1;
    width: 600px;
    height: 360px;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  @keyframes playXrun {
    from {background-position-x: 0px;}
    to {background-position-x: -2316px;}
  }
  @keyframes playYrun {
    from {background-position-y: 0px;}
    to {background-position-y: -1526px;}
  }